/* Media Queries
-------------------------------------------------------------- */


/* Above 992 (1st brk pt)
-------------------------------------------------------------- */
@media only screen and (min-width: 992px) {
	.bottom-quote{
	  	margin: 0 auto;
	  	max-width: 50%;
	}
	.team{
		margin: 30px 0px;
	}
}


/* Below 992
-------------------------------------------------------------- */
@media only screen and (max-width: 992px) { 
  #primary.hfeed{
	max-width: 100%!important;

  }
  #primary-menu {
    display: none;
  }

  #navigation {
    position: relative;
    float: none;
    width: 100%;
  }

  #mobile-nav {
    text-align: center;
    display: block;
    position: absolute;
    top: -50px;
    right: 0px;
    z-index: 2;
    color: #fff;
    font-size: 20px;
  }

  #mobile-primary-nav-wrap {
    width: 100%;
  }

  #mobile-primary-menu {
    margin: 20px 0 0 0;
    padding: 20px;
    background: $foley_blue;
    border: 1px solid $foley_grey;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
  #mobile-primary-menu a {
    color: white;
    text-transform: uppercase;
  }
  #mobile-primary-menu > li:first-child {
    border: none;
  }
  #mobile-primary-menu li {
    border-top: 1px solid #ebebeb;
    padding: 3px 0;
    list-style: none;
  }
  #mobile-primary-menu li a {
    display: block;
    padding: 5px 0;
    font-weight: bold;
  }
  #mobile-primary-menu .sub-menu {
    padding-left: 20px;
  }
  ul.sub-menu a{
	  font-weight: 100!important;
  }
  .bottom-quote{
	  margin: 0 auto;
	  max-width: 80%;
  }
  
h3.about{
	span{
	}
	&:before{
		border: none!important;
	}
} 
  
  
}



/* Below 768
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .gateway-show .left-side {
    margin-bottom: 30px;
  }

  .paging-navigation .nav-links {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lr-navigation {
    top: -105px;
  }
  .grid_1, .grid_10, .grid_11, .grid_12, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9{
	  width: 100%;
  }

}
@media only screen and (max-width: 700px) {
  .portfolio-meta span:before {
    display: none;
  }

  .portfolio-meta span {
    display: block;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 701px) {
  .gateway-show {
    margin: 0 0 3% 3%;
    width: 97%;
  }
}
@media only screen and (min-width: 769px) {
  .paging-navigation > div {
    display: inline-block;
    vertical-align: top;
  }
  .paging-navigation .nav-links {
    float: right;
  }
  .paging-navigation .pages {
    float: left;
  }

  .gateway-show .right-side {
    float: right;
    width: 30%;
  }
  .gateway-show .left-side {
    width: 100%;
    float: left;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .custom-background-content h3 {
    padding-right: 110px;
  }
}



/* Above 700 (specific element cases)
-------------------------------------------------------------- */
@media screen and (min-width: 700px){ //above 700px
	#primary.full{
		max-width: 85%!important;
		position: relative;
		margin: 0 auto;
	}
	#primary.hfeed{
		position: relative;
		margin: 0 auto;
		max-width: 90%;
	}
	.home .container{
		margin-top: 0px; // removes container overlap over header
	}
	.home .custom-background{
		min-height: 500px;
	}
	p.home {
		height: 100px;
	}
	.push-in{
		margin: 0 auto;
		padding: 0;
		position: relative;
		max-width: 75%;
	}
	.push-in-two{
		margin: 0 auto;
		padding: 0;
		position: relative;
		max-width: 85%;
	}

}


/* Below 700 (specific element cases)
-------------------------------------------------------------- */
@media screen and (max-width: 700px){ //below 700px
	.social-icons .icon{
		margin-bottom: 30px;
	}
	.team img{
		max-width: 100%!important;
	}
}


/* Below 480
-------------------------------------------------------------- */
@media (max-width: 480px) {
  body {
    font-size: 15px;
  }

  h1, h2, h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
  }

  .open:before {
    bottom: -30px!important;
  }

  .avatar-wrap {
    display: none;
  }

  .lr-navigation {
    display: none;
  }

  .comment-area {
    padding-left: 0;
  }

  ul.children {
    padding-left: 20px;
  }

  .commentlist li {
    padding: 30px 0;
  }
  #mobile-nav{
		top: -45px;
	}
	.header #logo{
		width: 200px;
	}
	.backstretch{
		height: 0px!important;
	}
	.backstretch img{
		display: none;
	}
	.custom-background{
		height: 125px;
	}
	.custom-background.universal{
		min-height: 125px;
	}

  blockquote {
    font-size: 17px;
    line-height: 1.4;
    padding-left: 30px;
    &:before{
	    top: 2px;
		left: 0px;
		font-size: 20px;
    }
  }

  .entry-title {
    font-size: 25px;
  }
  .title, .entry-title{
	  &:after{
		  border-top: none!important;
	  }
  }
  h3.about{
	  &:before{
		  left: -2px;
	  }
  }
  .page-title, .format-status .entry-content, .sidebar .widget-title, #reply-title, #comments, .footer .widget-title {
    font-size: 25px;
  }

  .custom-background-content h2 {
    font-size: 35px;
  }

  .custom-background-content h3 {
    font-size: 25px;
  }

  .hfeed .hentry {
    margin-bottom: 50px;
  }

  .jp-volume-bar {
    width: 22%;
    left: 73%;
  }

  .jp-progress {
    width: 35%;
  }

  .jp-duration {
    left: 48%;
  }

  .respond-button, .project-button, #submit, input[type=submit].contact-form-button {
    width: 100%;
    float: none;
    display: block;
    margin-top: 50px;
  }
  footer.copyright{
	.grid-4{
		padding: 30px 0px 0px 0px;
		text-align: center;
	}
	.social-icons{
		text-align: center;
		margin-right: 0!important;
	}
  }

  .mobile .jp-progress {
    width: 65%!important;
    left: 13%!important;
  }

  .mobile .jp-duration {
    left: auto;
    right: 20px;
  }
  
  
  
}

