/* Theme.scss - main Sass file compiling into "../assets/css/theme.css"
-------------------------------------------------------------- */

/* Variables
-------------------------------------------------------------- */
$foley_container: #FFFDFC;
$foley_brown: #866533;
$foley_white: #f9f9f9;
$foley_grey: #f3f3f3;
$foley_blue: #38353C;

/* Mixins
-------------------------------------------------------------- */
@mixin shadow($color: #222222) {
  -moz-box-shadow: 0px 0px 15px $color;
  -webkit-box-shadow: 0px 0px 15px $color;
  box-shadow: 0px 0px 15px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

/* Import Main
-------------------------------------------------------------- */
@import "reset";
@import "font";
@import "grid";
@import "header"; // & nav
@import "content";
@import "comments";
@import "widgets";
@import "footer";
@import "responsive";

/* Import Vendors
-------------------------------------------------------------- */
@import "vendor/isotope";
@import "vendor/jplayer";



/* Homepage
-------------------------------------------------------------- */
.site-width, .header .header-inner, #primary-menu, .container, .footer, .footer .inside, footer.copyright{
	max-width: 100%; // removes static px width, to allow 100% width for desktop screens
}
.container{
	background: $foley_container;
	padding: 30px;
	@include shadow(#222222);
}
.hfeed .hentry{
	margin-bottom: 40px;
}
.custom-background.universal .backstretch {
	opacity: 1!important;
}
.title, .entry-title{
	color: $foley_brown;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	line-height: 34px;
	padding: 10px 0px;
	&:after{
		content: "";
		display: block;
		position: absolute;
		border-top: 2px solid $foley_grey;
		width: 100%;
		height: 0;
		z-index: -1;
		top: 25px;
		left: 0;
	}
}
.right-side{
	h2.entry-title{
		&:after{
			border:none!important;
		}
	}
}
.title span, .entry-title span{
	padding: 0 10px;
	background: $foley_container;
}
.italic{
	font-style: italic;
	padding: 20px 0px;
}
.about{
	background: $foley_blue;
	padding: 20px 0px;
	min-height: 55px;
	color: $foley_white;
}
p.home{
	padding-bottom: 30px;
}
h3.about{
	text-transform: uppercase;
	&:before{
		position: relative;
		content: "\e01d";
		top: 0;
		left: -10px;
		font-family: 'stag';
		font-size: 20px;
		color: $foley_brown;
		opacity: 0.5;
	}
}


/* About (Team pg)
-------------------------------------------------------------- */
.content-box {
	padding: 0;
	margin-bottom: 20px;
	h3 {
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: 2px;
		font-size: 1.3em;
		text-align: center;
		margin: 22px 18px 18px;
		padding-bottom: 0;
	}
	a {
		color: rgba(0, 0, 0, 0.85);
		opacity: 1;
		transition: opacity .7s ease-in-out;
	}
	p {
		font-size: .85em;
		line-height: 1.65em;
		padding: 0 20px;
		text-align: center;
	}
}

.content-box-image {
	width: 100%;
	height: 75px;
	box-shadow: 2px 2px rgba($foley_blue, 0.1);
	background-size: cover;
	background: $foley_grey;
}
hr{
	clear: both;
	border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, $foley_grey, $foley_grey, $foley_white);
}
.team{
	margin: 15px auto;
	img{
		max-width: 90%;
		height: auto;
		padding: 12px;
		background: $foley_grey;
		box-shadow: 2px 2px rgba($foley_blue, 0.1);
	}
	strong, b{
		color: $foley_blue;
	}
}


/* Our Land
-------------------------------------------------------------- */

/* The Community
-------------------------------------------------------------- */

/* Contact
-------------------------------------------------------------- */
body.page-template-template-contact-foley-php{
	background: url('../img/wood.png') 0 0 no-repeat;
	background-position: center center;
	background-size: cover;
	
	.container{
		margin-bottom: 200px;
		position: relative;
		max-width: 85%;
		background: $foley_blue;
	}
	
	.custom-background.universal{
		background-color: transparent!important;
	}
	
	.entry-title span, .title span{
		background: $foley_blue;
	}
	
	.entry-title{
		margin-bottom: 0;
	}
	
	p{
		color: $foley_white;
		margin: 0;
	}
	
	span.icon{
		color: #6D5127;
	}
	
	button{
		margin-top:15px;
	}
	
}

h3.title.no{
	margin-bottom: -15px;
}
h3.name{
	color: $foley_white;
	text-transform: uppercase;
	font-size: inherit;
	font-weight: 700;
}

/* Gallery
-------------------------------------------------------------- */
.overlay h3.entry-title a{
	background: none;
}
.portfolio-items{
	padding-top: 50px;
}


/* Footer 
-------------------------------------------------------------- */
footer.copyright{
	background: darken( $foley_brown, 10%);
	//@include shadow(#222222);
}
footer.copyright .social-icons{
	margin-right: 20px;
}
.social-icons .icon{
	color: $foley_brown;
	background: #fff;
	font-size: 11px;
	width: 25px;
	height: 25px;
	margin-top: 25px;
	margin-right: 5px;
	padding-top: 9px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}
